.home_footer {
    display: grid;
    place-items: center;
    height: 322px;
    margin-top: 78px;

    @media (max-width: 992px) {
        & {
            margin-top: 2.5rem;
        }
    }

}
/* home_footer_title */
.home_footer_title {
    display: grid;
    place-items: center;
    & > div {
        display: flex;
        @media (max-width: 992px) {
            & {
                
                flex-direction: column;
                text-align: center;
            }
        }
        & > h2 {
            
           font-weight: bold;
       }
    }

    & > .home_footer_btn {
        margin-top: 2.5rem;
        display: flex;
        color: white;
        font-weight: bold;
        transition: all 0.3s ease;
        @media (max-width: 992px) {
            & {
                margin-top: 2rem;
            }
        }

        & > .home_footer_btn_icon {
            height: 24px;
            margin-left: 0.75rem;
            transform: rotate(-180deg);
            transition: scale 0.3s ease;
        }

        &:hover {
            transform: scale(1.05);

            & > .home_footer_btn_icon {
                scale: 1.2;
            }
        }
    }

}

/* footer */
.footer {
    margin-top:5rem;
    border-top: 1px solid $black-0;

    @media (max-width: 992px) {
        & {
            margin-top: 2.5rem;
        }
    }
}
/* home_footer_bottom */
.home_footer_bottom {
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
        & {
            flex-direction: column;
        }

        & > .home_footer_bottom_logo_container {
            order: 1;
            width: 245px;
        }
    }
    & > .home_footer_bottom_title {
        font-weight: bold;
        @media (max-width: 992px) {
            & {
                order: 2;
                margin-top: 2.5rem;
            }
        }
        & > h2:nth-child(1) {
            margin-bottom: 0.5rem;
        }
    }
    & > .home_footer_bottom_logo_container {
        & > .home_footer_bottom_logo {
            display: flex;
        }
    }
}
/* footer_container */
.footer_container {
    position: relative;
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $black-0;
    @media (max-width: 992px) {
        & {
            padding: 2rem 0;
        }
    }

    & > .footer_container_left {
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            & {
                flex-direction: column;
                font-weight: bold;
                align-items: flex-start;
            }
        }
        & > small {
            color: $black-0;
            margin-right: 100px;
            @media (max-width: 992px) {
                & {
                    margin-bottom: 2.25rem;
                }
            }
        }
        & > .footer_link {
            & > .footer_link_container {
                display: flex;
                gap: 1.25rem;
            }
        }
    }
    & > .footer_btn {
        display: flex;
        align-items: center;
        border: unset;
        font-weight: bold;
        padding: 0.75rem 0;

        @media (max-width: 992px) {
            & {
                position: absolute;
                top: 2rem;
                right: 0;
                padding: 0;
            }
        }

        & > .footer_btn_icon {
            margin-left: 1rem;
            transition: all 0.3s ease
        }

        &:hover {
            & > .footer_btn_icon {
                transform: scale(1.3,1.5);
            }
        }
    }
}