/* color */
$primary  :#F18724;
$surface  :#f2efe7;
$black-100:#020202;
$black-80 :#525252;
$black-60 :#919191;
$black-40 :#d1d1d1;
$black-20 :#f2f2f2;
$black-0  :#ffffff;
/* font */
.fs-9 {
    font-size: 3rem;
    @media (max-width: 992px) {
        & {
            font-size: 2rem;
        }
    }
}
.fs-8 {
    font-size: 2.5rem;
}
.fs-7 {
    font-size: 2rem;
    @media (max-width: 992px) {
        & {
            font-size: 1.25rem;
        }
    }
}
.fs-6 {
    font-size: 1.75rem;
}
.fs-5 {
    font-size: 1.5rem;
}
.fs-4 {
    font-size: 1.25rem
}
.fs-3 {
    font-size: 1rem;
}
.fs-2 {
    font-size: 0.875rem;
}
.fs-1 {
    font-size: 0.75rem;
}
.display01 {
    font-size: 10rem;
}
.display02 {
    font-size: 7.5rem;
    @media (max-width: 992px) {
        & {
            font-size: 3rem;
        }
    }
}
.display03 {
    font-size: 5rem;
    @media (max-width: 992px) {
        & {
            font-size: 2rem;
        }
    }
}