<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI工具王</title>
    <link rel="stylesheet" href="./css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="header_container">
                <h1 class="header_left_logo">
                    <a href="./index.html">
                        AI工具王
                    </a>
                </h1>
                <nav class="header_right">
                    <ul class="header_right_menu_container">
                        <li class="fs-3 ">
                            <a href="./index.html">
                                首頁
                            </a>
                        </li>
                        <li class="fs-3 ">
                            <a href="./price.html">
                                定價
                            </a>
                        </li>
                    </ul>
                    <div id="hamMenu_btn" class="hamMenu_btn_open" @click="() => hamMenuSwitch()">
                        <span class="material-icons">
                            menu
                        </span>
                    </div>
                </nav>
            </div>
        </header>
        <div id="hamMenu" class="hamMenu" :class="{show:hamMenu}">
            <div class="hamMenu_top">
                <div class="hamMenu_top_logo">
                    <a href="./index.html">
                        AI工具王
                    </a>
                </div>
                <div class="hamMenu_btn_close" @click="() => hamMenuSwitch()">
                    <span class="material-icons">
                        close
                    </span>
                </div>
            </div>
            <div class="hamMenu_link">
                <h2 class="display03"><a href="./index.html">首頁</a></h2>
                <h2 class="display03"><a href="./price.html">定價</a></h2>
            </div>
            <div class="hamMenu_footer">
                <div class="fs-3 hamMenu_foote_copyright"><small>AI工具王 &copy; 2023</small></div>
                <div class="hamMenu_footer_link_container">
                    <ul>
                        <li class="fs-3"><a href="">Facebook</a></li>
                        <li class="fs-3"><a href="">Twitter</a></li>
                        <li class="fs-3"><a href="">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <main>
            <section class="home_banner">
                <div class="home_banner_title">
                    <h2 class="display02">透過<br>AI工具王的<br>強大模型<br>讓您的業務更聰明
                    </h2>
                    <button type="button" class="btn btn_link">
                        <a href="" class="fs-4">開始使用</a>
                    </button>
                </div>
                <div class="home_banner_icon">
                    <div class="btn_arrow_down">
                        <img src="./img/icon_arrow_down.png" alt="箭頭動畫">
                    </div>
                    <div class="btn_arrow_down">
                        <img src="./img/icon_arrow_down.png" alt="箭頭動畫">
                    </div>
                    <div class="btn_arrow_down">
                        <img src="./img/icon_arrow_down.png" alt="箭頭動畫">
                    </div>
                </div>
            </section>
            <section class="home_service">
                <div class="home_service_top">
                    <div class="home_service_top_title">
                        <h2 class="fs-7">我們的服務</h2>
                    </div>
                    <div class="home_service_sub">
                        <p class="fs-9">我們相信透過AI技術,<br>包括圖像識別、自然語言處理和機器翻<br>譯等,讓您更快、更準確地做出決策。</p>
                    </div>
                </div>
                <div class="home_service_card">
                    <ul class="home_service_card_container">
                        <li>
                            <figure class="home_service_card_img">
                                <img src="./img/Vector.png" alt="快速圖">
                            </figure>
                            <h2 class="fs-7 home_service_card_title">快速</h2>
                            <p class="fs-3 home_service_card_sub">我們先進的推理基礎設施提供了極短的響應時間，讓你的產品服務不間斷。</p>
                        </li>
                        <li>
                            <figure class="home_service_card_img">
                                <img src="./img/Vector-1.png" alt="靈活圖">
                            </figure>
                            <h2 class="fs-7 home_service_card_title">靈活</h2>
                            <p class="fs-3 home_service_card_sub">我們的服務可以根據您的需求進行靈活調整，同時還可以滿足不同項目和預算的需求。</p>
                        </li>
                        <li>
                            <figure class="home_service_card_img">
                                <img src="./img/Vector-2.png" alt="擴充圖">
                            </figure>
                            <h2 class="fs-7 home_service_card_title">擴充</h2>
                            <p class="fs-3 home_service_card_sub">我們的服務支持多種擴充選項，可以滿足您的不斷增長的 AI 需求。</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="home_partner">
                <div class="home_partner_title">
                    <h2 class="fs-7">來自合作夥伴</h2>
                </div>
                <div class="home_partner_brand_container">
                    <div class="swiper mySwiper home_partner_brand_1 ">
                        <ul class="swiper-wrapper ">
                            <li class="swiper-slide"><img src="./img/Rectangle 13.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 14.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 15.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 25.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 22.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 30.png" alt="品牌LOGO圖"></li>

                            <li class="swiper-slide"><img src="./img/Rectangle 29.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 18.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 20.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 22.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 24.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 25-1.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 29.png" alt="品牌LOGO圖"></li>

                        </ul>
                    </div>
                    <div class="swiper mySwiper home_partner_brand_2 ">
                        <ul class="swiper-wrapper ">
                            <li class="swiper-slide"><img src="./img/Rectangle 29.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 18.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 20.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 22.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 24.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 25-1.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 29.png" alt="品牌LOGO圖"></li>

                            <li class="swiper-slide"><img src="./img/Rectangle 13.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 14.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 15.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 25.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 22.png" alt="品牌LOGO圖"></li>
                            <li class="swiper-slide"><img src="./img/Rectangle 30.png" alt="品牌LOGO圖"></li>
    
                        </ul>
                    </div>
                </div>

                <div class="swiper mySwiper home_partner_card">
                    <ul class="swiper-wrapper home_partner_card_container ">
                        <li class="swiper-slide">
                            <div class="home_partner_card_icon">
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                            </div>
                            <div class="home_partner_card_sub">
                                <p class="fs-3">非常喜歡 AI工具王 提供的 AI
                                    模型租賃服務，使用起來非常方便，而且效果非常好。對於我們公司的業務來說，這個服務非常重要，因為我們需要大量的數據進行分析和預測，AI工具王
                                    提供的 AI 模型能夠幫助我們節省大量時間和成本，實在是太棒了！</p>
                            </div>
                            <div class="home_partner_card_profiles">
                                <div class="home_partner_card_profiles_img"><img src="./img/Ellipse 3.png" alt="大頭照">
                                </div>
                                <div class="home_partner_card_profiles_sub">
                                    <h2 class="fs-3">陳小姐</h2>
                                    <p class="fs-2">ABC科技有限公司</p>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="home_partner_card_icon">
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                            </div>
                            <div class="home_partner_card_sub">
                                <p class="fs-3">作為一家醫療器材公司，我們非常關注人工智能技術的應用，而 AI工具王 提供的 AI 模型租賃服務為我們帶來了很大的幫助。我們使用 AI工具王
                                    的模型進行醫學影像分析和預測，這些模型非常精確，能夠幫助我們更好地診斷病情，提高治療效果。感謝 AI工具王 團隊的辛勤工作！</p>
                            </div>
                            <div class="home_partner_card_profiles">
                                <div class="home_partner_card_profiles_img"><img src="./img/Ellipse 3-1.png" alt="大頭照">
                                </div>
                                <div class="home_partner_card_profiles_sub">
                                    <h2 class="fs-3">劉小姐</h2>
                                    <p class="fs-2">XYZ 醫療器材有限公司</p>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="home_partner_card_icon">
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                                <span class="material-icons">
                                    star
                                </span>
                            </div>
                            <div class="home_partner_card_sub">
                                <p class="fs-3">我們銀行一直在尋找能夠幫助我們提高風險控制和客戶服務的解決方案，而 AI工具王 提供的 AI 模型租賃服務正好滿足了我們的需求。我們使用
                                    AI工具王
                                    的模型進行客戶信用評估和詐騙檢測等任務，這些模型非常準確，能夠幫助我們更好地控制風險，提高客戶滿意度。非常感謝 AI工具王 團隊的支持！</p>
                            </div>
                            <div class="home_partner_card_profiles">
                                <div class="home_partner_card_profiles_img"><img src="./img/Ellipse 3-2.png" alt="大頭照">
                                </div>
                                <div class="home_partner_card_profiles_sub">
                                    <h2 class="fs-3">黃先生</h2>
                                    <p class="fs-2">EFG 銀行</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            <section class="home_product">
                <div class="home_product_title">
                    <h2 class="display03">這些超酷的應用，都來自 AI工具王</h2>
                </div>
                <label for="search" class="home_product_search_label">
                    <input id="search" name="search" type="search" placeholder="輸入關鍵字搜尋" v-model="searchWord"
                        @input="() => searchWordFilter()">
                    <label for="search" class="home_product_search_icon">
                        <span class="material-icons">
                            search
                        </span>
                    </label>
                </label>
                <div class="home_product_filter">
                    <div class="home_product_filter_btn_container">
                        <button type="button" class="fs-3 home_product_filter_btn" @click="() => categoryCardOpen()">
                            篩選
                            <div class="home_product_filter_btn_icon">
                                <span class="material-icons" v-if="tagBtnNum <= 0">
                                    filter_alt
                                </span>        
                                <div class="home_product_filter_btn_num" v-else>
                                    <p class="fs-1">{{tagBtnNum}}</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="home_product_filter_tag">
                        <ul class="home_product_filter_tag_container">
                            <li class="fs-3 " v-for="(tag, index) in categoryTag" :key="index"
                                :class="{active:tag.active}" @click="categoryTagSwitch(index)">{{tag.name}}</li>
                            <!--                             <li class="fs-3">聊天</li>
                            <li class="fs-3">影像辨識</li>
                            <li class="fs-3">翻譯</li>
                            <li class="fs-3">行銷</li>
                            <li class="fs-3">客服</li>
                            <li class="fs-3">生產力</li> -->
                        </ul>
                    </div>
                    <select name="sort" id="sort" class="home_product_sort" v-model="sortOrder">
                        <option value="由新到舊" class="fs-3">由新到舊</option>
                        <option value="由舊到新" class="fs-3">由舊到新</option>
                    </select>
                    <!-- component -->
                    <div class="home_product_filter_card" :class="{ show:categoryCard}">
                        <div class="home_product_filter_card_container">
                            <h2 class="fs-1 home_product_filter_card_category">AI 模型</h2>
                            <ul class="home_product_filter_card_list">
                                <li class="fs-3">
                                    <label for="item-1">所有模型</label>
                                    <input type="checkbox" name="category_ai" id="item-1" v-model="tagBtnName"
                                        value="all" @change="() => toggleTagBtnName_AllOption('all')">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <template v-for="(tagBtn, index) in products.data" :key="index">
                                    <li class="fs-3">
                                        <label :for="tagBtn.id">{{tagBtn.discordId}}</label>
                                        <input type="checkbox" name="category_ai" :id="tagBtn.id" v-model="tagBtnName"
                                            :value="tagBtn.discordId"
                                            @change="() => toggleTagBtnName_AllOption(tagBtn.discordId)">
                                        <div class="home_product_filter_card_list_icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                    </li>
                                </template>
                                <!--                                 
                                <li class="fs-3">
                                    <label for="item-4">琪琪</label>
                                    <input type="radio" name="category_ai" id="item-4">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-5">昊昊</label>
                                    <input type="radio" name="category_ai" id="item-5">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <div class="home_product_filter_card_container">
                            <h2 class="fs-1 home_product_filter_card_category">類型</h2>
                            <ul class="home_product_filter_card_list">
                                <li class="fs-3">
                                    <label for="item-6">所有類型</label>
                                    <input type="checkbox" name="category_project" id="item-6" v-model="tagBtnType"
                                        value="all" @change="() => toggleTagBtnType_AllOption('all')">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <template  v-for="(tagBtn, index) in tagBtnTypeList" :key="index">
                                    <li class="fs-3">
                                        <label :for="index">{{tagBtn.name}}</label>
                                        <input type="checkbox" name="category_project" :id="index"
                                            v-model="tagBtnType" :value="tagBtn.name"
                                            @change="() => toggleTagBtnType_AllOption(tagBtn.name)">
                                        <div class="home_product_filter_card_list_icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                    </li>
                                </template>

                                <!--                                 
                                <li class="fs-3">
                                    <label for="item-9">篩選項目 3</label>
                                    <input type="radio" name="category_project" id="item-9">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-10">篩選項目 4</label>
                                    <input type="radio" name="category_project" id="item-10">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-11">篩選項目 5</label>
                                    <input type="radio" name="category_project" id="item-11">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-12">篩選項目 6</label>
                                    <input type="radio" name="category_project" id="item-12">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="fs-8 filter_alert" v-if="productsRender.length === 0">搜尋不到相符項目</p>
                <div class="home_product_card">
                    <ul class="home_product_card_container">
                        <li v-for="(item, index) in productsRender" :key="item.id">
                            <a :href="item.link">
                                <div class="home_product_card_img">
                                    <img :src="item.imageUrl" alt="封面圖">
                                </div>
                                <div class="home_product_card_text">
                                    <h2 class="fs-4 home_product_card_title">{{item.title}}</h2>
                                    <p class="fs-2 home_product_card_sub">{{item.description}}</p>
                                </div>
                            </a>
                            <div class="home_product_card_name">
                                <p class="fs-3">{{item.model}}</p>
                                <p class="fs-3">{{item.discordId}}</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">{{item.type}}</p>
                                <a class=" home_product_card_btn" :href="item.link">
                                    <span class="material-icons">
                                        share
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="empty"></li>
                        <!--                         <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-2.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Image Recognition Platform</h2>
                                <p class="fs-2 home_product_card_sub">專業的圖像識別平台，識別圖像、分類、標記等。
                                </p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">杰杰</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#影像辨識</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-4.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Language Translation API</h2>
                                <p class="fs-2 home_product_card_sub">專業的語言翻譯 API，實現文本翻譯功能，支援多種格式的文本。</p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">琪琪</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#翻譯</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-1.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Sentiment Analysis API</h2>
                                <p class="fs-2 home_product_card_sub">自動識別文本中的情感傾向，包括正向、負向和中性等。適用於情感分析、社交媒體監控、市場調查等。</p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">昊昊</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#行銷</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-3.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Fraud Detection Platform</h2>
                                <p class="fs-2 home_product_card_sub">預防詐騙活動，適用於銀行、金融、電商等。
                                </p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">卡卡</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#客服</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-5.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Voice Assistant SDK</h2>
                                <p class="fs-2 home_product_card_sub">通過語音控制應用程式、設備，實現多種功能，例如播放音樂、查詢天氣、發送信息等。</p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">杰杰</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#生產力</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="home_product_pagination">
                    <ul class="home_product_pagination_container">
                        <li class="fs-2" v-if="startPage > 1" @click="prevPage()">
                            <div class="next_icon prev_icon">
                                <svg width="6" height="8" viewBox="0 0 6 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.726562 7.06L3.7799 4L0.726562 0.94L1.66656 0L5.66656 4L1.66656 8L0.726562 7.06Z" />
                                </svg>
                            </div>
                        </li>
                        <li class="fs-2" v-for="page in visiblePages" :key="page" :class="{ active: page === current }"
                            ><button type="button" @click="() => setCurrentPage(page)">{{ page }}</button></li>
                        <li class="fs-2next" v-if="endPage < total" @click="nextPage()">
                            <div class="next_icon">
                                <svg width="6" height="8" viewBox="0 0 6 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.726562 7.06L3.7799 4L0.726562 0.94L1.66656 0L5.66656 4L1.66656 8L0.726562 7.06Z" />
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="home_footer">
                <div class="home_footer_title">
                    <div>
                        <h2 class="fs-9">現在就來建立</h2>
                        <h2 class="fs-9">屬於你的服務吧</h2>
                    </div>
                    <button type="button" class="fs-4 btn home_footer_btn">
                        開始使用
                        <div class=" home_footer_btn_icon">
                            <span class="material-icons">
                                call_received
                            </span>
                        </div>
                    </button>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="home_footer_bottom">
                <div class="home_footer_bottom_title">
                    <h2 class="display03 "><a href="./index.html">首頁</a> </h2>
                    <h2 class="display03 "><a href="./price.html">定價</a></h2>
                </div>
                <div class="home_footer_bottom_logo_container">
                    <h2 class="home_footer_bottom_logo">
                        <a href="./index.html">
                            <img src="./img/img_logo.png" alt="AI工具王LOGO">
                        </a>
                    </h2>
                </div>
            </div>
            <div class="footer_container">
                <div class="footer_container_left">
                    <small class="fs-3">Ai工具王 &copy; 2023</small>
                    <div class="footer_link">
                        <ul class="footer_link_container">
                            <li><a href="" class="fs-3">Facebook</a></li>
                            <li><a href="" class="fs-3">Twitter</a></li>
                            <li><a href="" class="fs-3">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="fs-3 btn footer_btn " @click="() => backToTop()">
                    Back to Top

                        <span class="material-icons footer_btn_icon">
                            arrow_upward
                            </span>

                </button>
            </div>
        </footer>
    </div>
    <!-- axios -->
    <script src=' https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js '
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- 自訂 -->
    <script src="./js/all.js" type="module"></script>

</body>

</html>