<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI工具王</title>
    <link rel="stylesheet" href="./css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>
<body>
    <div id="app">
        <header class="header">
            <div class="header_container">
                <h1 class="header_left_logo">
                    <a href="./index.html">
                        AI工具王
                    </a>
                </h1>
                <nav class="header_right">
                    <ul class="header_right_menu_container">
                        <li class="fs-3 ">
                            <a href="./index.html">
                                首頁
                            </a>
                        </li>
                        <li class="fs-3 ">
                            <a href="./price.html">
                                定價
                            </a>
                        </li>
                    </ul>
                    <div id="hamMenu_btn" class="hamMenu_btn_open" @click="() => hamMenuSwitch()">
                        <span class="material-icons">
                            menu
                        </span>
                    </div>
                </nav>
            </div>
        </header>
        <div id="hamMenu" class="hamMenu" :class="{show:hamMenu}">
            <div class="hamMenu_top">
                <div class="hamMenu_top_logo">
                    <a href="./index.html">
                        AI工具王
                    </a>
                </div>
                <div class="hamMenu_btn_close" @click="() => hamMenuSwitch()">
                    <span class="material-icons">
                        close
                    </span>
                </div>
            </div>
            <div class="hamMenu_link">
                <h2 class="display03"><a href="./index.html">首頁</a></h2>
                <h2 class="display03"><a href="./price.html">定價</a></h2>
            </div>
            <div class="hamMenu_footer">
                <div class="fs-3 hamMenu_foote_copyright"><small>AI工具王 &copy; 2023</small></div>
                <div class="hamMenu_footer_link_container">
                    <ul>
                        <li class="fs-3"><a href="">Facebook</a></li>
                        <li class="fs-3"><a href="">Twitter</a></li>
                        <li class="fs-3"><a href="">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <main>
            <section class="home_banner price_banner">
                <div class="home_banner_title">
                    <h1 class="display02">
                        用多少，<br>
                        付多少。
                    </h1>
                    <div class="price_banner_sub">
                        <h2 class="fs-9">
                            我們相信，最靈活的取用機<br class="mobile_br">制，才能最大化的幫助你業務<br class="mobile_br">的推動。
                        </h2>
                    </div>
                </div>
                <div class="home_banner_icon price_banner_icon">
                    <div class="btn_arrow_down">
                        <img src="./img/icon_arrow_down.png" alt="箭頭動畫">
                    </div>
                    <div class="btn_arrow_down">
                        <img src="./img/icon_arrow_down.png" alt="箭頭動畫">
                    </div>
                    <div class="btn_arrow_down">
                        <img src="./img/icon_arrow_down.png" alt="箭頭動畫">
                    </div>
                </div>
            </section>
            <section class="home_service price_price">
                <div class="home_service_top">
                    <div class="home_service_top_title">
                        <h2 class="fs-7">定價</h2>
                    </div>
                </div>
                <div class="home_service_card price_price_card">
                    <ul class="home_service_card_container price_price_card_container">
                        <li>
                            <div class="price_price_card_top">
                                <h2 class="fs-7 price_price_card_title">琪琪</h2>
                                <ul class="price_price_card_sub">
                                    <li class="fs-3">初級</li>
                                    <li class="fs-3">速度最快</li>
                                </ul>
                            </div>
                            <div class="price_price_card_bottom">
                                <div class="price_price_card_price">
                                    <h2 class="fs-4">NT$5</h2>
                                    <p class="fs-4">／1k tokens</p>
                                </div>
                                <div class="price_price_card_price_link">
                                    <a href="" class="fs-3">
                                        開始使用
                                        <span class="material-icons">
                                                call_received
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="price_price_card_top">
                                <h2 class="fs-7 price_price_card_title">昊昊</h2>
                                <ul class="price_price_card_sub">
                                    <li class="fs-3">中級</li>
                                </ul>
                            </div>
                            <div class="price_price_card_bottom">
                                <div class="price_price_card_price">
                                    <h2 class="fs-4">NT$5</h2>
                                    <p class="fs-4">／1k tokens</p>
                                </div>
                                <div class="price_price_card_price_link">
                                    <a href="" class="fs-3">
                                        開始使用
                                        <span class="material-icons">
                                            call_received
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="price_price_card_top">
                                <h2 class="fs-7 price_price_card_title">卡卡</h2>
                                <ul class="price_price_card_sub">
                                    <li class="fs-3">高級</li>
                                </ul>
                            </div>
                            <div class="price_price_card_bottom">
                                <div class="price_price_card_price">
                                    <h2 class="fs-4">NT$5</h2>
                                    <p class="fs-4">／1k tokens</p>
                                </div>
                                <div class="price_price_card_price_link">
                                    <a href="" class="fs-3">
                                        開始使用
                                        <span class="material-icons">
                                            call_received
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="price_price_card_top">
                                <h2 class="fs-7 price_price_card_title">杰杰</h2>
                                <ul class="price_price_card_sub">
                                    <li class="fs-3">最高級</li>
                                    <li class="fs-3">資訊最完善</li>
                                </ul>
                            </div>
                            <div class="price_price_card_bottom">
                                <div class="price_price_card_price">
                                    <h2 class="fs-4">NT$5</h2>
                                    <p class="fs-4">／1k tokens</p>
                                </div>
                                <div class="price_price_card_price_link">
                                    <a href="" class="fs-3">
                                        開始使用
                                        <span class="material-icons">
                                            call_received
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="price_rule">
                <div class="price_rule_title">
                    <h2 class="fs-7">使用規範</h2>
                </div>
                <div class="price_rule_content">
                    <ul>
                        <li>
                            <h2 class="fs-9">守法</h2>
                            <p class="fs-7">請遵守相關的法規和政策，不得進行任何違法違規的活動。</p>
                        </li>
                        <li>
                            <h2 class="fs-9">資訊安全</h2>
                            <p class="fs-7">請務必保護好自己的帳號和密碼，不得將其透露給他人。</p>
                        </li>
                        <li>
                            <h2 class="fs-9">守密</h2>
                            <p class="fs-7">需對使用過程中產生的數據負責，不得擅自泄露數據。</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="home_product">
                <div class="home_product_title">
                    <h2 class="display03">這些超酷的應用，都來自 AI工具王</h2>
                </div>
                <label for="search" class="home_product_search_label">
                    <input id="search" name="search" type="search" placeholder="輸入關鍵字搜尋" v-model="searchWord"
                        @input="() => searchWordFilter()">
                    <label for="search" class="home_product_search_icon">
                        <span class="material-icons">
                            search
                        </span>
                    </label>
                </label>
                <div class="home_product_filter">
                    <div class="home_product_filter_btn_container">
                        <button type="button" class="fs-3 home_product_filter_btn" @click="() => categoryCardOpen()">
                            篩選
                            <div class="home_product_filter_btn_icon">
                                <span class="material-icons" v-if="tagBtnNum <= 0">
                                    filter_alt
                                </span>        
                                <div class="home_product_filter_btn_num" v-else>
                                    <p class="fs-1">{{tagBtnNum}}</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="home_product_filter_tag">
                        <ul class="home_product_filter_tag_container">
                            <li class="fs-3 " v-for="(tag, index) in categoryTag" :key="index"
                                :class="{active:tag.active}" @click="categoryTagSwitch(index)">{{tag.name}}</li>
                            <!--                             <li class="fs-3">聊天</li>
                            <li class="fs-3">影像辨識</li>
                            <li class="fs-3">翻譯</li>
                            <li class="fs-3">行銷</li>
                            <li class="fs-3">客服</li>
                            <li class="fs-3">生產力</li> -->
                        </ul>
                    </div>
                    <select name="sort" id="sort" class="home_product_sort" v-model="sortOrder">
                        <option value="由新到舊" class="fs-3">由新到舊</option>
                        <option value="由舊到新" class="fs-3">由舊到新</option>
                    </select>
                    <!-- component -->
                    <div class="home_product_filter_card" :class="{ show:categoryCard}">
                        <div class="home_product_filter_card_container">
                            <h2 class="fs-1 home_product_filter_card_category">AI 模型</h2>
                            <ul class="home_product_filter_card_list">
                                <li class="fs-3">
                                    <label for="item-1">所有模型</label>
                                    <input type="checkbox" name="category_ai" id="item-1" v-model="tagBtnName"
                                        value="all" @change="() => toggleTagBtnName_AllOption('all')">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <template v-for="(tagBtn, index) in products.data" :key="index">
                                    <li class="fs-3">
                                        <label :for="tagBtn.id">{{tagBtn.discordId}}</label>
                                        <input type="checkbox" name="category_ai" :id="tagBtn.id" v-model="tagBtnName"
                                            :value="tagBtn.discordId"
                                            @change="() => toggleTagBtnName_AllOption(tagBtn.discordId)">
                                        <div class="home_product_filter_card_list_icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                    </li>
                                </template>
                                <!--                                 
                                <li class="fs-3">
                                    <label for="item-4">琪琪</label>
                                    <input type="radio" name="category_ai" id="item-4">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-5">昊昊</label>
                                    <input type="radio" name="category_ai" id="item-5">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <div class="home_product_filter_card_container">
                            <h2 class="fs-1 home_product_filter_card_category">類型</h2>
                            <ul class="home_product_filter_card_list">
                                <li class="fs-3">
                                    <label for="item-6">所有類型</label>
                                    <input type="checkbox" name="category_project" id="item-6" v-model="tagBtnType"
                                        value="all" @change="() => toggleTagBtnType_AllOption('all')">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <template  v-for="(tagBtn, index) in tagBtnTypeList" :key="index">
                                    <li class="fs-3">
                                        <label :for="index">{{tagBtn.name}}</label>
                                        <input type="checkbox" name="category_project" :id="index"
                                            v-model="tagBtnType" :value="tagBtn.name"
                                            @change="() => toggleTagBtnType_AllOption(tagBtn.name)">
                                        <div class="home_product_filter_card_list_icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </div>
                                    </li>
                                </template>

                                <!--                                 
                                <li class="fs-3">
                                    <label for="item-9">篩選項目 3</label>
                                    <input type="radio" name="category_project" id="item-9">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-10">篩選項目 4</label>
                                    <input type="radio" name="category_project" id="item-10">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-11">篩選項目 5</label>
                                    <input type="radio" name="category_project" id="item-11">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li>
                                <li class="fs-3">
                                    <label for="item-12">篩選項目 6</label>
                                    <input type="radio" name="category_project" id="item-12">
                                    <div class="home_product_filter_card_list_icon">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke-width="1.33333"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="fs-8 filter_alert" v-if="productsRender.length === 0">搜尋不到相符項目</p>
                <div class="home_product_card">
                    <ul class="home_product_card_container">
                        <li v-for="(item, index) in productsRender" :key="item.id">
                            <a :href="item.link">
                                <div class="home_product_card_img">
                                    <img :src="item.imageUrl" alt="封面圖">
                                </div>
                                <div class="home_product_card_text">
                                    <h2 class="fs-4 home_product_card_title">{{item.title}}</h2>
                                    <p class="fs-2 home_product_card_sub">{{item.description}}</p>
                                </div>
                            </a>
                            <div class="home_product_card_name">
                                <p class="fs-3">{{item.model}}</p>
                                <p class="fs-3">{{item.discordId}}</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">{{item.type}}</p>
                                <a class=" home_product_card_btn" :href="item.link">
                                    <span class="material-icons">
                                        share
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="empty"></li>
                        <!--                         <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-2.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Image Recognition Platform</h2>
                                <p class="fs-2 home_product_card_sub">專業的圖像識別平台，識別圖像、分類、標記等。
                                </p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">杰杰</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#影像辨識</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-4.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Language Translation API</h2>
                                <p class="fs-2 home_product_card_sub">專業的語言翻譯 API，實現文本翻譯功能，支援多種格式的文本。</p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">琪琪</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#翻譯</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-1.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Sentiment Analysis API</h2>
                                <p class="fs-2 home_product_card_sub">自動識別文本中的情感傾向，包括正向、負向和中性等。適用於情感分析、社交媒體監控、市場調查等。</p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">昊昊</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#行銷</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-3.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Fraud Detection Platform</h2>
                                <p class="fs-2 home_product_card_sub">預防詐騙活動，適用於銀行、金融、電商等。
                                </p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">卡卡</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#客服</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="home_product_card_img">
                                <img src="./img/Rectangle 35-5.png" alt="封面圖">
                            </div>
                            <div class="home_product_card_text">
                                <h2 class="fs-4 home_product_card_title">Voice Assistant SDK</h2>
                                <p class="fs-2 home_product_card_sub">通過語音控制應用程式、設備，實現多種功能，例如播放音樂、查詢天氣、發送信息等。</p>
                            </div>
                            <div class="home_product_card_name">
                                <p class="fs-3">AI 模型</p>
                                <p class="fs-3">杰杰</p>
                            </div>
                            <div class="home_product_card_hashtag">
                                <p class="fs-3">#生產力</p>
                                <button type="button" class=" home_product_card_btn">
                                    <div class="home_product_card_btn_icon">
                                        <svg width="18" height="20" viewBox="0 0 18 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="home_product_pagination">
                    <ul class="home_product_pagination_container">
                        <li class="fs-2" v-if="startPage > 1" @click="prevPage()">
                            <div class="next_icon prev_icon">
                                <svg width="6" height="8" viewBox="0 0 6 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.726562 7.06L3.7799 4L0.726562 0.94L1.66656 0L5.66656 4L1.66656 8L0.726562 7.06Z" />
                                </svg>
                            </div>
                        </li>
                        <li class="fs-2" v-for="page in visiblePages" :key="page" :class="{ active: page === current }"
                            ><button type="button" @click="() => setCurrentPage(page)">{{ page }}</button></li>
                        <li class="fs-2next" v-if="endPage < total" @click="nextPage()">
                            <div class="next_icon">
                                <svg width="6" height="8" viewBox="0 0 6 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.726562 7.06L3.7799 4L0.726562 0.94L1.66656 0L5.66656 4L1.66656 8L0.726562 7.06Z" />
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="price_qa">
                <div class="price_qa_title">
                    <h2 class="fs-9">常見問題</h2>
                </div>
                <div class="price_qa_content">
                    <ul>
                        <li v-for="(qA, index) in qAs" :key="index" :class="{show:qA.active}"
                            @click="() => qASwitch(index)">
                            <div class="price_qa_content_title">
                                <div class="price_qa_content_title_icon">
                                    <span class="material-icons">
                                        add
                                    </span>
                                </div>
                                <div class="price_qa_content_title_icon">
                                    <span class="material-icons">
                                        remove
                                        </span>
                                </div>
                                <div>
                                    <h2 class="fs-4">{{qA.question}}</h2>
                                    <div class="price_qa_content_text">
                                        <p class="fs-3">
                                            {{qA.answer}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--                         <li class="show">
                            <div class="price_qa_content_title">
                                <div class="price_qa_content_title_icon" style="display: none;">
                                    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z" />
                                    </svg>

                                </div>
                                <div class="price_qa_content_title_icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_327_1232)">
                                            <path d="M19 13H5V11H19V13Z" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_327_1232">
                                                <rect width="24" height="24" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <h2 class="fs-4">租用模型的費用是如何計算的？</h2>
                            </div>
                            <div class="price_qa_content_text">
                                <p class="fs-3">
                                    租用模型的費用通常會根據模型的性能和使用時間等因素進行計算。具體而言，模型的性能可以根據其精度、速度、暫用資源等指標來評估；而使用時間可以根據租用時間的長短來計算，通常會按小時、天或月來計算。綜合考慮這些因素，系統會自動算出對應的租用費用。
                                </p>
                            </div>
                        </li>
                        <li class="show">
                            <div class="price_qa_content_title">
                                <div class="price_qa_content_title_icon" style="display: none;">
                                    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z" />
                                    </svg>

                                </div>
                                <div class="price_qa_content_title_icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_327_1232)">
                                            <path d="M19 13H5V11H19V13Z" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_327_1232">
                                                <rect width="24" height="24" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <h2 class="fs-4">如何進行付款？</h2>
                            </div>
                            <div class="price_qa_content_text">
                                <p class="fs-3">
                                    付款方式可以通過網站上提供的宴上支付平台進行支付。具體而言，您可以選擇信用卡、銀行轉帳電子錢包等不同的支付方式進行支付。在支付前，您需要先登錄網站並選擇適合的租用方案，系統會自動計算出對應的租用欸用和支付金額，然後您可以選擇適合的支付方式進行支付。完成支付後，系統會自動向您提供相應的服務。
                                </p>
                            </div>
                        </li>
                        <li class="show">
                            <div class="price_qa_content_title">
                                <div class="price_qa_content_title_icon" style="display: none;">
                                    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z" />
                                    </svg>

                                </div>
                                <div class="price_qa_content_title_icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_327_1232)">
                                            <path d="M19 13H5V11H19V13Z" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_327_1232">
                                                <rect width="24" height="24" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <h2 class="fs-4">租用模型的期限是多久？</h2>
                            </div>
                            <div class="price_qa_content_text">
                                <p class="fs-3">
                                    租用模型的期限可以根據您的需求進行設置，通常可以選擇幾個小時、幾天或幾個月等不同的時間段。
                            </div>
                        </li>
                        <li class="show">
                            <div class="price_qa_content_title">
                                <div class="price_qa_content_title_icon" style="display: none;">
                                    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z" />
                                    </svg>

                                </div>
                                <div class="price_qa_content_title_icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_327_1232)">
                                            <path d="M19 13H5V11H19V13Z" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_327_1232">
                                                <rect width="24" height="24" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <h2 class="fs-4">如果在使用的過程中遇到問題，應該怎麼處理？</h2>
                            </div>
                            <div class="price_qa_content_text">
                                <p class="fs-3">
                                    如果在使用過程中遇到問題，您可以聯繫惡扶或技術支持人員進行諮詢或報告問題。您也可以。您也可以通過網站上的幫助中心或社區論壇尋找相關的解決方案和回答。
                        </li> -->
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="home_footer_bottom">
                <div class="home_footer_bottom_title">
                    <h2 class="display03 "><a href="./index.html">首頁</a> </h2>
                    <h2 class="display03 "><a href="./price.html">定價</a></h2>
                </div>
                <div class="home_footer_bottom_logo_container">
                    <h2 class="home_footer_bottom_logo">
                        <a href="./index.html">
                            <img src="./img/img_logo.png" alt="AI工具王LOGO">
                        </a>
                    </h2>
                </div>
            </div>
            <div class="footer_container">
                <div class="footer_container_left">
                    <small class="fs-3">Ai工具王 &copy; 2023</small>
                    <div class="footer_link">
                        <ul class="footer_link_container">
                            <li><a href="" class="fs-3">Facebook</a></li>
                            <li><a href="" class="fs-3">Twitter</a></li>
                            <li><a href="" class="fs-3">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="fs-3 btn footer_btn " @click="() => backToTop()">
                    Back to Top

                        <span class="material-icons footer_btn_icon">
                            arrow_upward
                            </span>

                </button>
            </div>
        </footer>
    </div>
    <!-- axios -->
    <script src=' https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js '
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- 自訂 -->
    <script src="./js/all.js" type="module"></script>

</body>

</html>